#find-container {
  width: 100vw;
  height: 100vh;
  color: #000;
}


#find-container .find form fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#find-container .find form fieldset + fieldset {
  margin-top: 6.4rem;
}

#find-container .find form fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

#find-container .find form fieldset legend button {
  background: none;
  border: 0;
  color: var(--color-primary);
  font: 700 1.6rem Archivo;
  cursor: pointer;
  transition: color 0.2s;
}

#find-container .find form fieldset legend button:hover {
  color: var(--color-primary-dark);
}
#find-container .find form button {
  width: 50%;
  height: 5.6rem;
  background: var(--color-secondary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#create-doctor-container form button:hover {
  background: var(--color-secondary-dark);
}

.container ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;

}

.container ul li{
  background: #FFF;
  padding: 24px;
  border-radius:8px;

  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: 'name info';
  grid-gap: 10px;
  list-style: none;
  
}

.container ul li .name {
  grid-area: 'name';
}

.container ul li .info {
  grid-area: 'info';
}

.container ul li .update{
  position: absolute;
  right: 54px;
  top: 24px;
  border:0;
}

.container ul li .delete{
  position: absolute;
  right: 24px;
  top: 24px;
  border:0;
}

.container ul li button + button{
  justify-content : space-between;
}

.container ul li button:hover{
  cursor: pointer;
  opacity: 2;
}

.container ul li strong{
  display: block;
  margin-bottom: 8px;
  color: #41414d;
}

.container ul li p + strong{
  margin-top: 16px;
}

.container ul li p{
  columns: #737380;
  line-height: 21px;
  font-size: 16px;
}